body
{
background-color: #99CCFF;
}
#banner
{
float:left;
background-color:#FF4719;
height:100px;
width:100%;
z-index:1
}
#banner-left
{
float:left;
height:1000px;
width:15%;
background-color:#3366FF;
}
#body
{
float:left;
height:900px;
width:70%;
background-color:green;
}
#banner-right
{
float:left;
height:1000px;
width:15%;
background-color:#3366FF;
}
#logo
{
float:left;
background-color:blue;
height:100%;
width:15%;
}
#main-banner
{
float:left;
background-color:yellow;
height:100px;
width:100%;
}
#left-border
{
float:left;
background-color:blue;
height:900px;
width:15%;
}
#body-main
{
float:left;
background-color:silver;
height:900px;
width:70%;
}
#right-border
{
float:left;
background-color:blue;
height:900px;
width:15%;
}
